.page {
  width: 100%;
  height: 100vh;
  background-image: url(../img/body.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .page .wrap {
    margin: auto;
    width: 400px;
    height: 470px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5); }
    .page .wrap__titel {
      text-align: right;
      padding: 25px 30px; }
      .page .wrap__titel a {
        text-decoration: none;
        color: #4990e2; }
    .page .wrap__answer {
      padding: 10px 20px;
      font-size: 18px; }
      .page .wrap__answer h5 {
        margin-bottom: 30px; }
      .page .wrap__answer input {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 8px;
        margin-bottom: 10px; }
      .page .wrap__answer input:focus {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        border-bottom: 1px solid #ffdb4d; }
      .page .wrap__answer span {
        display: block;
        margin-bottom: 30px;
        font-weight: 400;
        color: #4981d7;
        font-size: 17px; }
      .page .wrap__answer button {
        width: 100%;
        height: 50px;
        background-color: #ffdb4d;
        border: 1px solid #ffdb4d;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        outline: none; }
      .page .wrap__answer button:hover {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        background-color: #f6cd2a;
        cursor: pointer; }
    .page .wrap__prompt {
      margin-top: 30px; }
      .page .wrap__prompt h5 {
        font-weight: 400;
        color: #11b721;
        margin-bottom: 10px; }
